{% extends "layout.html" %}
{% set bodyId = "page-landing" %} {# Variável que difine o id do body #}

{# Estilos Únicos da página #}
{% block styles %}
    <link rel="stylesheet" href="./styles/partials/page-landing.css">
{% endblock styles %}

{# Conteúdo principal da página#}
{% block content %}
    <div class="logo-container">
        <img src="/images/logo.svg" alt="Proffy">
        <h2>Sua plataforma de estudos online</h2>
    </div>

    <img class="hero-image" src="/images/landing.svg" alt="Plataforma de estudos">

    <div class="buttons-container">
        <a class="study" href="/study">
            <img src="/images/icons/study.svg" alt="Estudar">
            Estudar
        </a>
        <a class="give-classes" href="/give-classes">
            <img src="/images/icons/give-classes.svg" alt="Dar aulas">
            Dar aulas
        </a>
    </div>

    <p class="total-connections">
        total de 200 conexões já realizadas
        <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
    </p>

{% endblock content %}